.wrapper2 {
  margin: 10px 50px 20px 200px;;
  padding-top: 50px;
  border: 1px solid black;
  background: rgb(92, 92, 85);
  height: 720px;
  display: flex;
  width: 320px;
  flex-direction: row;
  flex-flow: row wrap;
  /* padding: 20px; */
  /* justify-content: space-around; */
  align-content: flex-start;
  overflow: auto;
}
